
.display-4{
	padding: 60px;
  text-align: center;
  background: #E80C94;
  color: white;
  font-size: 82px;
}
.bilder{
	width: 350px;
	height: 300px;
}
.sectionmargin{
	margin-top: 30px;
}
.button {
background: red;
	border:none;
	border-radius: 5px;
	padding: 15px;
	color:white;
	font-size: 16px;
	margin-top: 15px
}
	#after_submit {
	visibility: hidden;
}
.mentor{
	width: 100px;
	height: 100px;
}
/* Bildgalleri*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover { /* Hover*/
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
/* Här kan man ända textfärg och bakgrundsfärg till årets tema-färg*/
body{
	background-color: silver;
	font-family: 'Montserrat', sans-serif;
	/*color: #E80C94;*/

}
p{
		color: #E80C94;
	}